test --copt=-march=native --copt=-g --copt=-fno-omit-frame-pointer --cxxopt='-std=c++20'
build -c opt --copt=-march=native --copt=-g --copt=-fno-omit-frame-pointer --cxxopt='-std=c++20'

build --host_copt=-march=native
